.number__input {
  width: calc(100% - 100px);;
  height: 43px;

  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 10px;
  letter-spacing: -0.04em;

  border-radius: 10px;
}

.number__input::-webkit-outer-spin-button,
.number__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.number__input[type=number] {
  -moz-appearance: textfield;
}