.sidebar {
  width: 100%;
  min-height: calc(100vh - 60px);
  height: auto;

  padding: 0;

  background-color: #1d1d1b;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 60px;
  left: 0px;
  z-index: 19;
  max-width: 375px;
}