.calculate__text {
  margin: 0;
  padding: 0;

  width: 100%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 10px;
  letter-spacing: -0.04em;
}