.models__subtitle {
  margin: 0;
  padding: 0;

  width: 100%;

  text-decoration-line: underline;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.04em;
}