.calculate__result {
  width: 40%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 15px 0 0;
  padding: 0;

  position: sticky;
  top: 110px;
}


@media screen and (max-width: 768px) {
  .calculate__result {
    width: 100%;

    flex-direction: column-reverse;

    margin: 20px 0 0 0;
    padding: 0;

    position: static;
  }
}