.payment__title {
  margin: 0 0 5px 0;
  padding: 0;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.04em;

  width: 100%;
}