.calculate__fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 50%;
}

@media screen and (max-width: 768px) {
  .calculate__fields {
    width: 100%;
  }
}