.first__price {
  margin: 20px 0;
  padding: 0;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: -0.04em;
  
  color: #76B729;
}

@media screen and (max-width: 1200px) {
  .first__price {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .first__price {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .first__price {
    margin: 10px 0;
  }
}