.about__text {
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  padding: 0 40px;
}

@media screen and (max-width: 768px) {
  .about__text {
    width: 100%;

    padding: 0;
    margin: 0;
  }
}