@import url('./vendor/normalize.css');
@import url('./vendor/fonts/Montserrat.css');
@import url('./blocks/page/page.css');

@import url('./blocks/header/header.css');
@import url('./blocks/header/__navigation/header__navigation.css');
@import url('./blocks/header/__fl/header__fl.css');
@import url('./blocks/header/__logo/header__logo.css');

@import url('./blocks/info/info.css');
@import url('./blocks/info/__item/info__item.css');
@import url('./blocks/info/__link/info__link.css');
@import url('./blocks/info/__icon/info__icon.css');
@import url('./blocks/info/__text/info__text.css');

@import url('./blocks/nav/nav.css');
@import url('./blocks/nav/__item/nav__item.css');
@import url('./blocks/nav/__link/nav__link.css');
@import url('./blocks/nav/__hamburger/nav__hamburger.css');

@import url('./blocks/first/first.css');
@import url('./blocks/first/__text/first__text.css');
@import url('./blocks/first/__image/first__image.css');
@import url('./blocks/first/__header/first__header.css');
@import url('./blocks/first/__subtitle/first__subtitle.css');
@import url('./blocks/first/__price/first__price.css');

@import url('./blocks/models/models.css');
@import url('./blocks/models/__list/models__list.css');
@import url('./blocks/models/__item/models__item.css');
@import url('./blocks/models/__subtitle/models__subtitle.css');
@import url('./blocks/models/__title/models__title.css');

@import url('./blocks/card/card.css');
@import url('./blocks/card/__elements/card__elements.css');
@import url('./blocks/card/__photo/card__photo.css');
@import url('./blocks/card/__options/card__options.css');
@import url('./blocks/card/__option/card__option.css');
@import url('./blocks/card/__stroke/card__stroke.css');
@import url('./blocks/card/__name/card__name.css');
@import url('./blocks/card/__price/card__price.css');
@import url('./blocks/card/__sizes/card__sizes.css');
@import url('./blocks/card/__size/card__size.css');
@import url('./blocks/card/__point/card__point.css');
@import url('./blocks/card/__materials/card__materials.css');
@import url('./blocks/card/__material/card__material.css');
@import url('./blocks/card/__button/card__button.css');
@import url('./blocks/card/__delivery/card__delivery.css');

@import url('./blocks/calculate/calculate.css');
@import url('./blocks/calculate/__header/calculate__header.css');
@import url('./blocks/calculate/__box/calculate__box.css');
@import url('./blocks/calculate/__fields/calculate__fields.css');
@import url('./blocks/calculate/__results/calculate__result.css');
@import url('./blocks/calculate/__type/calculate__type.css');
@import url('./blocks/calculate/__text/calculate__text.css');
@import url('./blocks/calculate/__button/calculate__button.css');

@import url('./blocks/item/item.css');
@import url('./blocks/item/_active/item_active.css');
@import url('./blocks/item/__image/item__image.css');
@import url('./blocks/item/__signed/item__signed.css');

@import url('./blocks/total/__final/total__final.css');
@import url('./blocks/total/__stroke/total__stroke.css');
@import url('./blocks/total/__summary/total__summary.css');
@import url('./blocks/total/__finprice/total__finprice.css');
@import url('./blocks/total/__options/total__options.css');

@import url('./blocks/number/number.css');
@import url('./blocks/number/__input/number__input.css');
@import url('./blocks/number/__button/number__button.css');
@import url('./blocks/number/__button/_disabled/number__button_disabled.css');
@import url('./blocks/number/__label/number__label.css');

@import url('./blocks/payment/payment.css');
@import url('./blocks/payment/__steps/payment__steps.css');
@import url('./blocks/payment/__step/payment__step.css');
@import url('./blocks/payment/__icon/payment__icon.css');
@import url('./blocks/payment/__title/payment__title.css');
@import url('./blocks/payment/__text/payment__text.css');

.splide {
  padding: 0 60px;
}

@media screen and (max-width: 768px) {
  .splide {
    padding: 40px;
  }
}

@media screen and (max-width: 550px) {
  .splide {
    padding: 20px;
  }
}

.splide__test{
  background-color: #76B729 !important;
}

.splide__pagination__page.is-active {
  background: #76B729 !important;
  margin: 5px 5px 0 !important;
}

.splide__pagination {
  bottom: 0.2em !important;
}